{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "A comprehensive REST API providing detailed country information worldwide. This modern, high-performance service offers extensive data about countries, including demographics, geography, and international codes.",
        "title": "Atlas - Geographic Data API by DoROAD",
        "termsOfService": "http://atlas.doroad.io/terms/",
        "contact": {
            "name": "Atlas API Support",
            "url": "https://github.com/DoROAD-AI/atlas/issues",
            "email": "support@doroad.ai"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/DoROAD-AI/atlas/blob/main/LICENSE"
        },
        "version": "1.0"
    },
    "host": "atlas.doroad.io",
    "basePath": "/v1",
    "paths": {
        "/alpha": {
            "get": {
                "description": "Get countries matching a list of codes (CCA2, CCN3, CCA3, or CIOC).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Countries"
                ],
                "summary": "Get countries by codes",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Comma-separated list of country codes (CCA2, CCN3, CCA3, CIOC)",
                        "name": "codes",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response",
                        "name": "fields",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1.Country"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/capital/{capital}": {
            "get": {
                "description": "Get countries matching a capital city name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Countries"
                ],
                "summary": "Get countries by capital",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Capital city name",
                        "name": "capital",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response",
                        "name": "fields",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1.Country"
                            }
                        }
                    },
                    "404": {
                        "description": "Country not found",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/countries": {
            "get": {
                "description": "Get details of all countries, with optional filters.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Countries"
                ],
                "summary": "Get all countries",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filter by independent status (true or false)",
                        "name": "independent",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response",
                        "name": "fields",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1.Country"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/countries/{code}": {
            "get": {
                "description": "Get details of a specific country by its code (CCA2 or CCA3).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Countries"
                ],
                "summary": "Get country by code",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Country code (CCA2 or CCA3)",
                        "name": "code",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response",
                        "name": "fields",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v1.Country"
                        }
                    },
                    "404": {
                        "description": "Country not found",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/currency/{currency}": {
            "get": {
                "description": "Get countries matching a currency code or name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Countries"
                ],
                "summary": "Get countries by currency",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Currency code or name",
                        "name": "currency",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response",
                        "name": "fields",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1.Country"
                            }
                        }
                    },
                    "404": {
                        "description": "Country not found",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/demonym/{demonym}": {
            "get": {
                "description": "Get countries matching a demonym.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Countries"
                ],
                "summary": "Get countries by demonym",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Demonym",
                        "name": "demonym",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response",
                        "name": "fields",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1.Country"
                            }
                        }
                    },
                    "404": {
                        "description": "Country not found",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/independent": {
            "get": {
                "description": "Get countries filtered by independence. If not specified, defaults to status=true.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Countries"
                ],
                "summary": "Get countries by independence status",
                "parameters": [
                    {
                        "type": "string",
                        "description": "true or false. Defaults to 'true' if not specified",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response",
                        "name": "fields",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1.Country"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/lang/{language}": {
            "get": {
                "description": "Get countries matching a language code or name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Countries"
                ],
                "summary": "Get countries by language",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Language code or name",
                        "name": "language",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response",
                        "name": "fields",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1.Country"
                            }
                        }
                    },
                    "404": {
                        "description": "Country not found",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/name/{name}": {
            "get": {
                "description": "Get countries matching a name query (common or official). Use fullText=true for exact name match.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Countries"
                ],
                "summary": "Get countries by name",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Country name (common or official)",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Exact match for full name (true/false)",
                        "name": "fullText",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response",
                        "name": "fields",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1.Country"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/region/{region}": {
            "get": {
                "description": "Get countries matching a region.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Countries"
                ],
                "summary": "Get countries by region",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Region name",
                        "name": "region",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response",
                        "name": "fields",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1.Country"
                            }
                        }
                    },
                    "404": {
                        "description": "Country not found",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subregion/{subregion}": {
            "get": {
                "description": "Get countries matching a subregion.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Countries"
                ],
                "summary": "Get countries by subregion",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Subregion name",
                        "name": "subregion",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response",
                        "name": "fields",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1.Country"
                            }
                        }
                    },
                    "404": {
                        "description": "Country not found",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/translation/{translation}": {
            "get": {
                "description": "Get countries matching a translation.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Countries"
                ],
                "summary": "Get countries by translation",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Translation",
                        "name": "translation",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Comma-separated list of fields to include in the response",
                        "name": "fields",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1.Country"
                            }
                        }
                    },
                    "404": {
                        "description": "Country not found",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "v1.CapitalInfo": {
            "type": "object",
            "properties": {
                "latlng": {
                    "description": "Latitude and longitude of the capital",
                    "type": "array",
                    "items": {
                        "type": "number"
                    },
                    "example": [
                        38.8951,
                        77.0364
                    ]
                }
            }
        },
        "v1.Car": {
            "type": "object",
            "properties": {
                "side": {
                    "description": "Side of the road cars drive on",
                    "type": "string",
                    "example": "right"
                },
                "signs": {
                    "description": "Signs used on license plates",
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "USA"
                    ]
                }
            }
        },
        "v1.CoatOfArms": {
            "type": "object",
            "properties": {
                "png": {
                    "description": "PNG format URL of the coat of arms",
                    "type": "string",
                    "example": "https://mainfacts.com/media/images/coats_of_arms/us.png"
                },
                "svg": {
                    "description": "SVG format URL of the coat of arms",
                    "type": "string",
                    "example": "https://mainfacts.com/media/images/coats_of_arms/us.svg"
                }
            }
        },
        "v1.Country": {
            "type": "object",
            "properties": {
                "altSpellings": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "US",
                        "USA",
                        "United States of America"
                    ]
                },
                "area": {
                    "type": "number",
                    "example": 9372610
                },
                "borders": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "CAN",
                        "MEX"
                    ]
                },
                "capital": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "Washington",
                        " D.C."
                    ]
                },
                "capitalInfo": {
                    "$ref": "#/definitions/v1.CapitalInfo"
                },
                "car": {
                    "$ref": "#/definitions/v1.Car"
                },
                "cca2": {
                    "type": "string",
                    "example": "US"
                },
                "cca3": {
                    "type": "string",
                    "example": "USA"
                },
                "ccn3": {
                    "type": "string",
                    "example": "840"
                },
                "cioc": {
                    "type": "string",
                    "example": "USA"
                },
                "coatOfArms": {
                    "$ref": "#/definitions/v1.CoatOfArms"
                },
                "continents": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "North America"
                    ]
                },
                "currencies": {
                    "$ref": "#/definitions/v1.Currencies"
                },
                "demonyms": {
                    "$ref": "#/definitions/v1.Demonyms"
                },
                "fifa": {
                    "type": "string",
                    "example": "USA"
                },
                "flag": {
                    "type": "string",
                    "example": "🇺🇸"
                },
                "flags": {
                    "$ref": "#/definitions/v1.Flags"
                },
                "gini": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "number"
                    },
                    "example": {
                        "2019": 39.7
                    }
                },
                "idd": {
                    "$ref": "#/definitions/v1.IDD"
                },
                "independent": {
                    "type": "boolean",
                    "example": true
                },
                "landlocked": {
                    "type": "boolean",
                    "example": false
                },
                "languages": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "example": {
                        "eng": "English"
                    }
                },
                "latlng": {
                    "type": "array",
                    "items": {
                        "type": "number"
                    },
                    "example": [
                        38,
                        97
                    ]
                },
                "maps": {
                    "$ref": "#/definitions/v1.Maps"
                },
                "name": {
                    "$ref": "#/definitions/v1.Name"
                },
                "population": {
                    "type": "integer",
                    "example": 334805269
                },
                "postalCode": {
                    "$ref": "#/definitions/v1.PostalCode"
                },
                "region": {
                    "type": "string",
                    "example": "Americas"
                },
                "startOfWeek": {
                    "type": "string",
                    "example": "sunday"
                },
                "status": {
                    "type": "string",
                    "example": "officially-assigned"
                },
                "subregion": {
                    "type": "string",
                    "example": "North America"
                },
                "timezones": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "UTC-12:00",
                        "UTC-11:00",
                        "UTC-10:00",
                        "UTC-09:00",
                        "UTC-08:00",
                        "UTC-07:00",
                        "UTC-06:00",
                        "UTC-05:00",
                        "UTC-04:00",
                        "UTC+10:00",
                        "UTC+12:00"
                    ]
                },
                "tld": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "translations": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object",
                        "properties": {
                            "common": {
                                "type": "string",
                                "example": "Vereinigte Staaten"
                            },
                            "official": {
                                "type": "string",
                                "example": "Vereinigte Staaten von Amerika"
                            }
                        }
                    }
                },
                "unMember": {
                    "type": "boolean",
                    "example": true
                }
            }
        },
        "v1.Currencies": {
            "type": "object",
            "additionalProperties": {
                "$ref": "#/definitions/v1.CurrencyInfo"
            }
        },
        "v1.CurrencyInfo": {
            "type": "object",
            "properties": {
                "name": {
                    "description": "Name of the currency",
                    "type": "string",
                    "example": "US Dollar"
                },
                "symbol": {
                    "description": "Symbol of the currency",
                    "type": "string",
                    "example": "$"
                }
            }
        },
        "v1.DemonymInfo": {
            "type": "object",
            "properties": {
                "f": {
                    "description": "Feminine form of the demonym",
                    "type": "string",
                    "example": "American"
                },
                "m": {
                    "description": "Masculine form of the demonym",
                    "type": "string",
                    "example": "American"
                }
            }
        },
        "v1.Demonyms": {
            "type": "object",
            "properties": {
                "eng": {
                    "description": "English demonyms",
                    "allOf": [
                        {
                            "$ref": "#/definitions/v1.DemonymInfo"
                        }
                    ]
                },
                "fra": {
                    "description": "French demonyms (if available)",
                    "allOf": [
                        {
                            "$ref": "#/definitions/v1.DemonymInfo"
                        }
                    ]
                }
            }
        },
        "v1.ErrorResponse": {
            "description": "Error response model",
            "type": "object",
            "properties": {
                "message": {
                    "description": "The error message\nRequired: true",
                    "type": "string",
                    "example": "Bad request"
                }
            }
        },
        "v1.Flags": {
            "type": "object",
            "properties": {
                "alt": {
                    "description": "Alternative text description of the flag",
                    "type": "string",
                    "example": "The flag of the United States of America is a..."
                },
                "png": {
                    "description": "PNG format URL of the flag",
                    "type": "string",
                    "example": "https://restcountries.eu/data/usa.png"
                },
                "svg": {
                    "description": "SVG format URL of the flag",
                    "type": "string",
                    "example": "https://restcountries.eu/data/usa.svg"
                }
            }
        },
        "v1.IDD": {
            "type": "object",
            "properties": {
                "root": {
                    "description": "Root for the international dialing code.",
                    "type": "string",
                    "example": "+1"
                },
                "suffixes": {
                    "description": "Suffixes for the international dialing code.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "201",
                        "202"
                    ]
                }
            }
        },
        "v1.Maps": {
            "type": "object",
            "properties": {
                "googleMaps": {
                    "description": "Google Maps URL",
                    "type": "string",
                    "example": "https://goo.gl/maps/..."
                },
                "openStreetMaps": {
                    "description": "OpenStreetMaps URL",
                    "type": "string",
                    "example": "https://www.openstreetmap.org/..."
                }
            }
        },
        "v1.Name": {
            "type": "object",
            "properties": {
                "common": {
                    "description": "Common name of the country",
                    "type": "string",
                    "example": "United States"
                },
                "official": {
                    "description": "Official name of the country",
                    "type": "string",
                    "example": "United States of America"
                }
            }
        },
        "v1.PostalCode": {
            "type": "object",
            "properties": {
                "format": {
                    "description": "Format of the postal code",
                    "type": "string",
                    "example": "#####-####"
                },
                "regex": {
                    "description": "Regex pattern for validating the postal code",
                    "type": "string",
                    "example": "^\\d{5}(-\\d{4})?$"
                }
            }
        }
    }
}